.tribe-events-schedule h2 {
	font-size: 14px;
    margin-top: 0;
}

.single-tribe_events .tribe-events-schedule .recurringinfo, .single-tribe_events .tribe-events-schedule .tribe-events-cost, .single-tribe_events .tribe-events-schedule .tribe-events-divider {
	float: left;
}

.single-tribe_events .tribe-events-schedule .tribe-events-cost {
	float: left;
}

.tribe-events-sub-nav {
	padding: 20px 0 !important;
}

.tribe-events-sub-nav li a, .tribe-events-back a {
    padding: 8px;
    border: 1px solid black;
    color: black !important;
}

.tribe-events-sub-nav li a {
    background: transparent !important;
    padding: 10px 20px !important;
    margin: 20px 5px !important;
}

.tribe-events-back {
    margin: 0 0 40px 0;
}

.tribe-events-sub-nav li a:hover, .tribe-events-back a:hover {
    color: #ca3425 !important;
    border-color: #ca3425;
}

.post-body h3 {
	background: transparent;
	padding-left: 0;
}


.tribe-events-meta-group-gmap {
    width: 100% !important;
    padding: 0 !important;
}

.tribe-events-event-meta .column, .tribe-events-event-meta .tribe-events-meta-group {
	width: 50% !important;
	height: 300px;
}

.single-tribe_events .tribe-events-venue-map {
    border: none;
    background: white;
    border-radius: 0;
    padding: 0 !important;
    margin: 0 !important;
}

.single-tribe_events .tribe-events-event-meta {
    border: 1px solid black !important;
    background: white;
    background-color: white !important;
    padding-bottom: 30px;
}

.single-tribe_events .tribe-events-event-meta dl {
    overflow-wrap: break-word;
}

.single-tribe_events .tribe-events-event-image {
    margin-bottom: 0;
}

.tribe-events-meta-group .tribe-events-single-section-title {
    margin: 10px 0;
}

#tribe-events-header {
    display: none;
}

.tribe-events-calendar th {
    color: white !important;
    font-weight: 300;
}

.tribe-events-month-event-title a {
    color: black !important;
}

.tribe-events-calendar div[id*="tribe-events-daynum-"], .tribe-events-calendar div[id*="tribe-events-daynum-"] a, #tribe-events .tribe-events-calendar td.tribe-events-othermonth, #tribe-events .tribe-grid-allday, #tribe-events .tribe-week-today, #tribe-events .tribe-events-calendar td:hover {
    background-color: #EEE !important;
}

#tribe-events td.tribe-events-present div[id*="tribe-events-daynum-"], #tribe-events td.tribe-events-present div[id*="tribe-events-daynum-"] > a {
    background-color: #ca3425 !important;
}

#tribe-events .tribe-events-button:hover, .tribe-events-button:hover {
    color: white !important;
    background-color: #B1281A !important;
}

.tribe-events-calendar thead th, .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column, .tribe-grid-header {
    background-color: black !important;
}

#tribe-events-content .tribe-events-calendar td, #tribe-events-content table.tribe-events-calendar {
    border: 1px solid black !important;
}

#tribe-bar-form.tribe-bar-collapse .tribe-bar-views-inner {
    padding: 18px 0 40px !important;
}

#tribe-bar-collapse-toggle {
    padding: 20px !important;
    background-color: #EEE !important;
}

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a, #tribe-bar-views .tribe-bar-views-inner {
    background-color: #EEE !important;
}

#tribe-events-content .tribe-events-tooltip h4, #tribe_events_filters_wrapper .tribe_events_slider_val, .single-tribe_events a.tribe-events-ical, .single-tribe_events a.tribe-events-gcal {
    color: #ca3425;
    background: black !important;
}

.recurring-info-tooltip, .tribe-events-calendar .tribe-events-tooltip, .tribe-events-week .tribe-events-tooltip {
    background-color: white !important;
}

.tribe-events-tooltip .tribe-events-event-thumb {
    padding: 5px 5px 0px 0 !important;
}

.tribe-events-tooltip .tribe-events-event-thumb img {
    margin: 0 !important;
}

#tribe-events-content .tribe-events-tooltip h4, #tribe_events_filters_wrapper .tribe_events_slider_val, .single-tribe_events a.tribe-events-ical, .single-tribe_events a.tribe-events-gcal {
    color: white !important;
    line-height: 18px !important;
    padding: 10px !important;
}

.tribe-events-tooltip .tribe-events-event-body {
    padding: 6px 6px 6px 0px !important;
}
.tribe-events-event-body .tribe-event-duration {
    padding-left: 6px;
}

.tribe-events-read-more,  a.tribe-events-read-more a {
    color: white !important;
    background: black;
    padding: 8px;
}

.tribe-events-single-event-title {
    line-height: 28px;
}

.single-tribe_events #tribe-events-footer li, .single-tribe_events #tribe-events-header li {
    width: 100% !important;
    padding:10px 0 !important;
}

.tribe-event-schedule-details {
    font-weight: 100 !important;
}

.tribe-events-list .type-tribe_events {
    border-bottom: 1px solid black !important;
}





























