/** INSTAGRAM WIDGET **/

.instagram-pics {
    list-style: none;
    position: relative;
    padding-left: 0;
    margin: 0;
}

.instagram-pics li {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.instagram-pics li:last-child {
    position: static;
}

.instagram-pics li img {
    width: 100%;
    height: auto;
}