
/**** TRAVEL MAP PAGE ********/
.mapTooltip {
    position : absolute;
    /*margin-left: 6%;
    margin-top: 9%;*/

    background-color : #fff;
    moz-opacity:0.70;
    opacity: 0.70;
    filter:alpha(opacity=70);
    /*border-radius:10px;*/
    padding : 5px;
    z-index: 1000;
    max-width: 200px;
    display:none;
    color:#343434;
}


.zoomIn, .zoomOut {
    background-color: black;
    border: none;
    color: white;
    padding: 7px 10px;
    line-height: 15px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    margin-left: -40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    clear: both;
    width: 30px;
    margin-top: -80px;
}

.zoomOut {
    margin-top: 10px;
}

.mapcontainer .map svg {
    width: 100%;
    cursor: all-scroll;
}

.mapcontainer .map {
    position: relative;
    width: 85%;
    margin: 0 auto;
}

#location-list {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    -webkit-column-count: 4;
    -webkit-column-gap: 100px;
    text-align: center;
    margin-bottom: 20px;
}

#location-list p {
    margin: 0;
    line-height: 22px;
}

#location-list tbody {
    text-align: center;
}

#location-list tbody tr td {
    padding: 4px;
}

#location-list p a {
    color: black;
}

#location-list p a:hover {
    color: #CA3425;
}



@media (max-width: 768px) {
    .mapcontainer .map svg {
        height: 280px;
    }
    #location-list {
        -webkit-column-count: 4;
    }
}

@media (max-width: 500px) {
    .mapcontainer .map {
        width: 90%;
        float: right;
        margin-bottom: 25px;
    }
    #location-list {
        -webkit-column-count: 2;
    }
}