body, html {
    height: 100%;
}

/***** TYPOGRAPHY *****/
 /* Currently not necessary as we're only using TypeKit and Google */


/***** REUSABLE ELEMENTS *****/

.text-center {
    text-align: center;
}

hr {
    border-bottom: 1px solid black;
}

input, textarea {
    border: 1px solid #000;
    padding: 3px 5px;
    -webkit-transition: border 0.3s ease-in-out;
    -moz-transition: border 0.3s ease-in-out;
    -o-transition: border 0.3s ease-in-out;
    transition: border 0.3s ease-in-out;
}

input:focus, textarea:focus {
    outline: none;
}

.fancy-input {
    background: transparent;
}

.fancy-input .fancy-input-inner {
    display: block;
    position: relative;
}

#sidebar .widget .fancy-input .fancy-input-inner input {
    background: #eee;
    width: 100%;
    height: 30px;
}

.fancy-input .fancy-input-inner:before  {
    content: "\f002";
    font-family: "FontAwesome";
    position: absolute;
    left: 4px;
    top: -4px;
    font-size: 12px;
    color: #CA3425;
}

#nav-wrapper .fancy-input .fancy-input-inner form input {
    color: white !important;
}

#sidebar .fancy-input .fancy-input-inner:after {
    color: black;
    top: 3px;
}

#lookbook-nav ul li.menu-newsletter {
    display: none;
}

.menu-newsletter .fancy-input.email .fancy-input-inner:after {
    top: 2px;
}

.fancy-input.email .fancy-input-inner:after {
    content: "\f0e0";
}

.fancy-input .fancy-input-inner.searched:after {
    content: " ";
}

.fancy-input input {
    width: 140px;
    font-size: 12px;
    position: relative;
    padding-top: 0;
    padding-left: 24px;
    top: -3px;
    border: none;
    padding-right: 3px !important;
    background: transparent;
}

input, textarea {
    font-family: 'proxima-nova', sans-serif;
    padding-left: 10px;
    font-size: 12px;
    letter-spacing: 1px;
}

.fancy-input input[type="text"], .fancy-input input[type="email"] {
    font-family: 'proxima-nova', sans-serif;
    font-weight: 100;
}

.fancy-input.email .button {
    margin-top: 10px;
    border: none;
    display: block;
}

.clear-query {
    position: absolute;
    top: 6px;
    right: 5px;
}

.post-body {
    position: relative;
}

.post-body .button {
    color: black;
    border: 1px solid #000;
    padding: 8px;
    display: inline-block;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.post-body .button:hover {
    background-color: #CA3425;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.post-body h3 {
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 14px;
    background: #CA3425;
    padding: 15px;
}

/***** GLOBAL *****/

body {
    font-family: "proxima nova", sans-serif;
    font-style: normal;
    font-weight: 100;
    letter-spacing: .025em;
    line-height: 18px;
}

a {
    color: #CA3425;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none !important;
    transition: .2s;
    -webkit-transition: .2s;
}

a:hover, a:focus {
    color: #CA3425;
    text-decoration: none !important;
    transition: .2s;
    -webkit-transition: .2s;
}

a i.fa, a i.glyphicon {
    color: #333;
}

a i.fa:hover, a i.glyphicon:hover, #header a i.fa:hover, #header a i.glyphicon:hover {
    color: #CA3425;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.clearfix {
    clear: both;
}


/***** HEADER *****/

.admin-bar #header {
    top: 28px;
}

#header {
    background-color: rgba(0,0,0,.7);
    width: 100%;
    position: fixed;
    height: 40px;
    line-height: 30px;
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-transition: height .5s, line-height .5s;
    transition: height .5s, line-height .5s;
}

#header.large {
    height: 120px;
}

#header a:hover {
    color: #9aceeb;
    text-decoration: none;
}

#logo-wrapper {
    text-align: center;
}

.large #logo-wrapper {
    margin-bottom: 20px;
}

#nav-wrapper {
    position: relative;
    text-align: center;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    justify-content: center;
}

.large #social-wrapper {
    display: none;
}

#social-wrapper {
    position: absolute;
    top: 5px;
    right: 20px;
}

#social-wrapper i {
    margin-left: 5px;
}

#mc_embed_signup input {
    background-color: #EEE;
    border: none;
    width: 80%;
    float: left;
    height: 30px;
}

#mc_embed_signup .button {
    background-color: black !important;
    float: right;
    border-radius: 0 !important;
    height: 30px !important;
    width: 20%;
    font-family: "FontAwesome";
    color: white;
}

#mc_embed_signup input:focus {
  border-color: #e0e0e0 !important;
}

.below-header-wrapper {
    margin: 8px auto;
    width: 85%;
    height: 60px;
}

.below-header-wrapper #social-icon-wrapper a i {
    padding-top: 18px !important;
}

.small-logo {
    position: relative;
    z-index: 2;
    display: block;
}

input.subscribe-header {
  height: 30px;
  margin-top: 11px;
  width: 180px;
}

#header-logo {
    display: none;
}

#header-logo-small {
    margin-top: 5px;
    height: 30px;
    width: auto;
    display: block;
    position: absolute;
    left: 20px;
}

#header .icons {
    line-height: 72px;
    font-size: 16px;
    text-align: right;
}

nav#main-menu-container {
    display: inline-block;
}

#main-menu {
    font-family: 'proxima-nova', sans-serif;
    font-weight: 100;
    font-size: 13px;
    padding: 8px;
    text-transform: uppercase;
    margin: 0;
    list-style: none;
    text-align: center;
}

#main-menu > li {
    display: inline;
    margin: 0 6px;
    padding: 10px 10px 10px 10px;
}

#main-menu > li a {
    color: white;
}

#main-menu a:hover, #main-menu li:hover > a {
    color: #CA3425;
}

.nav-icon-pop-out {
    z-index: 2;
}

#nav-icon {
    padding: 12px;
    cursor: pointer;
    display: none;
    color: white;
    font-size: 18px;
}

#header .sub-menu {
    padding: 5px 55px 15px;
    display: none;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 0px;
    transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0px);
    -moz-transform: translate(-50%, 0px);
    -webkit-transform: translate(-50%, 0px);
    z-index: 1;
    -webkit-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

#header .menu-newsletter .sub-menu {
    width: 250px;
    margin: auto;
    padding-bottom: 10px;
}

#header .sub-menu.stay-open {
    display: block;
}

#header .sub-menu li {
    display: block;
    line-height: 30px;
    width: 100%;
    white-space: nowrap;
    padding-left: 0;
    margin: 0;
}

#header .sub-menu li a {
    width: 100%;
    height: 100%;
    display: block;
}

#header .sub-menu li a:hover {
    text-decoration: none;
}

#header .menu-item-has-children {
    position: relative;
}

#header .menu-item-has-children:hover .sub-menu {
    display: block;
}

#header .menu-newsletter:focus .sub-menu {
    display: block;
}

#header .fancy-input.search {
    float: left;
    margin-right: 5px;
    height: 25px;
    margin-top: 8px;
    border-bottom: 1px solid white;
}

.fancy-input .fancy-input-inner {
    display: block;
    position: relative;
}

#social-wrapper a i.fa, #social-icon-wrapper a i.fa, .widget.social li a i.fa, .share a i.fa, #social-wrapper a i.glyphicon {
    color: black;
    background-color: transparent;
    padding: 10px 3px;
    border-radius: 100%;
    margin-left: 0;
    font-size: 12px;
}

#social-wrapper a i.fa:hover, #social-icon-wrapper a i.fa:hover, .widget.social li a i.fa:hover, .share a i.fa:hover, #social-wrapper a i.glyphicon:hover, #header a i.fa:hover, #header a i.glyphicon:hover {
    background-color: transparent;
    transition: .2s;
}

#social-wrapper i, #social-icon-wrapper i, #sidebar .widget.social i {
    margin: 0 8px;
    text-align: center;
}

#social-icon-wrapper p, #subscribe-wrapper p {
    text-transform: uppercase;
    float: left;
    margin: 18px 15px 0 15px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'proxima-nova', sans-serif;
    font-size: 12px;
}

#social-icon-wrapper {
    width: 330px;
    margin-right: 40px;
    margin-left: 14%;
    float: left;
}

#header #social-wrapper a i {
    color: white;
}

#subscribe-wrapper {
    width: 400px;
    float: left;
}


.fancy-input-inner button, #subscribe-wrapper button {
    font-family: "FontAwesome";
    color: #FFF;
    background-color: #F9D4D8;
    border: none;
    float: right;
}

.fancy-input-inner button {
    padding: 7px 18px 8px 19px;
    width: 20%;
}

#subscribe-wrapper button {
    padding: 5px 20px 8px 19px;
    width: 55px;
    margin-top: 11px;
    height: 30px;
}

#logo-container {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 15px;
    margin: 50px 0 -10px;
}

#logo-container.front-page-logo {
    margin-bottom: 10px;
}

/***** SLIDESHOW ******/

#slideshow {
    height: 480px;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
    background: black;
    max-height: 605px !important;
}

#slideshow img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

#slideshow .img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  opacity: .9;
}

#slideshow .featured-img {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 1;
}

#slideshow img#loader {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    height: 40px;
}

#slideshow .previous, #slideshow .next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin:auto;
  height: 80px;
  width: 30px;
  z-index: 100;
  background:rgba(0, 0, 0, .7);
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

#slideshow .previous {
  left: 0;
  z-index: 101;
}

#slideshow .next {
  right: 0;
  z-index: 101;

}

.slideshow-title-wrapper {
    opacity: .8;
    text-align: center;
    width: auto;
    display: block;
    position: relative;
    overflow: auto;
    margin-top: 140px;
    padding-bottom: 20px;
}

.slideshow-title {
    color: white;
    font-weight: 600;
    font-size: 41px;
    letter-spacing: 3px;
    min-width: 400px;
    line-height: 38px;
}

.slideshow-title a {
    color: white;
}

.slideshow-date {
    font-family: 'proxima-nova', sans-serif;
    font-size: 12px;
    color: white;
    letter-spacing: 1px;
    margin: 0px auto 40px auto;
    max-width: 400px;
    font-style: italic;
}

.slideshow-button {
    color: white;
    text-transform: uppercase;
    padding: 12px 15px;
    border: 1px solid white;
    display: inline;
    letter-spacing: 1px;
    font-size: 12px;
}

.slideshow-button:hover {
    background: white;
    color: black;
}

/***** SOCIAL BAR *****/
#social #mce-responses {
    font-size: 11px;
}

#social {
    background-color: #fff;
    border-bottom: 1px solid #CA3425;
    height: 70px;
    background: rgba(252,201,178,0.56);
    background: -moz-radial-gradient(center, ellipse cover, rgba(252,202,178,0.56) 0%, rgba(255,177,140,0.2) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252,202,178,0.56)), color-stop(100%, rgba(255,177,140,0.2)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(252,202,178,0.56) 0%, rgba(255,177,140,0.2) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(252,202,178,0.56) 0%, rgba(255,177,140,0.2) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(252,202,178,0.56) 0%, rgba(255,177,140,0.2) 100%);
    background: radial-gradient(ellipse at center, rgba(252,202,178,0.56) 0%, rgba(255,177,140,0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc9b2', endColorstr='#ffb08c', GradientType=1 );
}

#social .container {
    padding-top: 18px;
    padding-bottom: 18px;
}

#social i {
    font-size: 28px;
}

#social .icons a {
    color: #333;
}

#social .icons {
    margin-top: 2px;
    text-align: right;
}

/***** POSTS *****/

#content {
    margin-top: 140px;
}

.page-container, .page-page-container {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
}

.single-page-container {
    width: 75%;
    margin: 0 auto;
    display: block;
}

.page-page-container {
    margin-top: 420px;
}

.archive #content .page-page-container, .events-single #content .page-page-container {
    margin-top: 0px;
}

/*------ CATEGORY GRID HOME PAGE -----*/

.background-category-wrapper {
    position: absolute;
    background: rgba(255,255,255,.85);
    margin: 90px 25%;
    padding-bottom: 20px;
}

.category-image .background-image {
    height: 300px;
    background-color: black;
    opacity: .7;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.page-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px !important;
    background-position: top center !important;
}

.author-sidebar-image {
    display: block;
    overflow: hidden;
    width: 50%;
    height: 120px;
    float: left;
}

.author-sidebar-image img, .author-sidebar-image .featured-video-plus {
    height: 100% !important;
    width: auto !important;
    max-width: 400px !important;
}

.author-sidebar-image .featured-video-plus .fluid-width-video-wrapper {
    height: 120px;
}

.related-sidebar {
    padding: 0 !important;
}

.category-image {
    background: black;
}

.author-sidebar-text {
    width: 50%;
    height: 120px;
    display: block;
    float: left;
    padding: 10px;
    color: black;
    text-transform: uppercase;
    letter-spacing: .5px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-items: center;
    background-image: none !important;
}

.explore-box {
    border: none !important;
}

.explore-box .textwidget {
    position: relative;
}

.explore-box div a img {
    opacity: .7;
    width: 100%;
}

.explore-box div a .explore-text {
    color: white;
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
}

/*----- CATEGORY LOOP ------*/

.category-videos #content .category-container .row #main-content article {
    width: 50%;
}

.category-container {
    width: 90%;
    margin: 0 auto;
}

.background-category-wrapper {
    position: absolute;
    background: rgba(255,255,255,.85);
    margin: 90px 25%;
    padding-bottom: 20px;
}

.category-loop {
    width: 33.3333%;
    margin: 0;
    float: left;
    padding: 5px;
}

.category-loop .loop-text header h1 a {
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 20px;
}

.category-loop .loop-image-wrapper {
    width: 100%;
    padding: 0;
    height: 250px;
}

.category-loop .loop-text {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    height: auto;
    height: 150px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-loop .loop-text footer {
    padding: 0;
    position: relative;
}

.category-loop .loop-text header {
    margin-bottom: 10px;
}

.category-loop .loop-text header h1 {
    margin-top: 0px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
    margin-bottom: 10px;
}

.category-loop .featured-video-plus {
    height: 100%;
}

.category-loop .loop-text footer .time-span, .category-loop .loop-text footer .time-span i {
    float: none;
}

.author-social a i {
    padding: 0 5px;
}

#slideshow + #content {
    margin-top: 70px;
}

#main-content.col-sm-8 {
    width: 66.6666667%;
    float: left;
}

.home .row #main-content {
    padding: 0;
}

.home .row {
    margin: 0;
}

.post {
    margin: 5px 0 0;
    font-weight: 300;
    color: black;
    line-height: 22px;
    padding-bottom: 20px;
    letter-spacing: .5px;
}

.no-posts {
    text-align: center;
}

.loop-post {
    margin-bottom: 42px;
    border-bottom: 1px solid black;
}

.loop-text {
    padding: 0px 0 10px 0;
}

.loop-text, .loop-image, .loop-post .loop-image-wrapper {
    height: 315px;
    text-align: center;
}

.loop-image-wrapper {
    padding-left: 0;
    overflow: hidden;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loop-text .post-body {
    margin: 0 10px;
    text-align: center;
}

.loop-image, .category-loop-image, .author-loop-image {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loop-image, .category-loop-image {
    width: 100%;
}

.featured-video-plus iframe {
    width: 100% !important;
    height: 100% !important;
}

.category-grid-wrapper {
    text-align: center;
}

.category-wrapper {
    float: left;
    width: 25%;
    display: block;
    padding: 0px;
    margin-bottom: 50px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    position: relative;
    overflow: hidden;
}

.category-link, .related-link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.picture-category-title {
    color: white;
    font-weight: 600;
    letter-spacing: 1.5px;
    z-index: 400;
    background: rgba(0,0,0,.2);
    width: 100%;
    height: 100%;
    padding: 47% 0;
    margin: 0;
    position: absolute;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    z-index:99;
}

.picture-category-title:hover {
    background: rgba(0,0,0,.4);
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.read-more {
    display: block;
    font-family: 'proxima-nova', sans-serif;
    width: 170px;
    text-align: center;
    margin-top: 30px;
    background: transparent;
    font-style: normal;
    border: 1px solid #CA3425;
    margin: 20px auto;
    padding: 5px 12px 3px 12px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #CA3425 !important;
    text-transform: uppercase;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.read-more:hover {
    color: white !important;
    background: #CA3425;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.post.single {
    margin: 10px 0;
    padding-bottom: 0;
}

.post:after {
    display: block;
    height: 0;
    font-size: 0;
    content: " ";
    clear:both;
    visibility: hidden;
}

.post.single {
    border-bottom: none;
}

.single header .time-span {
    width: 50%;
}

.loop-post .loop-text .time-span {
    margin-top: 6px;
    font-size: 12px;
    float: left;
}

.tags {
    float: left;
    display: block;
    width: 100%;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 25px;
}

/*.tags a {
    background: black;
    color: white !important;
    padding: 8px;
    margin: 0 3px;
    border: 1px solid black;
}*/

/*.tags a:hover {
    background: white;
    color: black !important;
}*/

.author-box {
    border: 1px solid black;
    padding: 20px 10px;
    overflow: auto;
    width: 100%;
}

.author-box .author-image {
    width: 25%;
    float: left;
    padding: 10px;
}

.author-text {
    width: 75%;
    float: left;
    padding: 0 10px;
}

.author-image img {
    border-radius: 100%;
    width: 100%;
    height: auto;
}

.author-name {
    margin-top: 0;
    font-size: 16px;
}

/* ----- Author Page -----*/

.author #content .single-page-container .row #main-content .author-image {
    float: left;
    width: 25%;
}

.single-author-page .author-name {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 40px 0;
}

.single-author-page dl .author-social {
    display: block;
    float: left;
    margin: 0;
    width: 100%;
}

.single-author-page dl .author-text .author-social a {
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    float: left;
    position: relative;
    color: black;
}

.single-author-page dl .author-text .author-social a i {
    padding-right: 10px;
}

.author-loop {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.related-posts-author {
    margin-top: 30px;
    float: left;
}

.author-loop .author-loop-image, .author-loop .author-loop-text {
    height: 180px;
}

.author-loop .author-loop-text {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-items: center;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}

.page-id-12 #content .page-container .row #main-content article .post-body p img {
    margin-right: 40%;
    width: 60%;
}


/* ------ Author Sidebar -----*/

.featured-adventurers .author-image {
    width: 50%;
    float: left;
    height: 150px;
    overflow: hidden;
}

.featured-adventurers .author-text {
    width: 50%;
    float: left;
    padding: 10px;
}

.featured-adventurers .author-image img {
    border-radius: 0;
}

.featured-adventurers .author-description {
    width: 100%;
    float: left;
    padding: 0 10px;
}

.author-description a {
    text-transform: uppercase;
}

.featured-adventurers .author-name {
    font-size: 14px;
    text-align: center;
}

.featured-adventurers .author-text .author-social a {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    color: black;
}


/* ----- Post ----*/

.post a {
    color: #CA3425;
}

.post a span, .post i span {
    color: black;
}

.post a span:hover, .post i span:hover {
    color: #CA3425;
}

.post a:hover {
    color: black;
}

.post header {
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.post header .date {
    font-family: 'proxima-nova', sans-serif;
    font-weight: 100;
    font-size: 12px;
    color: black;
    text-align: left;
    text-transform: uppercase;
    display: block;
    margin-top: 0px;
    margin-bottom: 0;
    font-style: normal;
}

.post header h1, #page-title  {
    font-size: 20px;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 300;
    display: block;
}

#page-title.travel-title {
  font-family: 'proxima-nova', sans-serif;
}

.post header h1 a, .post header h1, #page-title {
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 26px;
    margin: 10px 0;
    text-align: center;
}

.lookbook #page-title a {
    color: black;
    font-style: normal;
}

.post header h1 a:hover, .post header h1 a:focus {
    text-decoration: none;
    outline: 0;
    color: #CA3425;
}

.post header .categories {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    font-family: 'proxima-nova', sans-serif;
    text-align: center;
}

.post header .categories a {
    color: black;
    font-weight: 200;
}

.post header .categories a:hover {
    color: #CA3425;
}

.post-body img {
    display: block;
    float: left;
    height: auto;
    margin: 5px 0;
    max-width: 100%;
}

/*.post-body img.size-large, .post-body .size-full {
    width: 100%;
}*/

.post-body img.alignleft.size-medium, .post-body img.alignleft {
    padding: 0px 10px 5px 0px;
}

.post-body .ajax-loader {
    width: auto !important;
}

.location-category i {
    padding-right: 8px;
}

.caption, .wp-caption-text {
    font-family: 'proxima-nova', sans-serif;
    font-size: 12px;
    text-align: center;
    margin-bottom: 25px;
}

.post .comment-button {
    display: block;
    margin: 40px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.nocomments {
    margin-top: 60px;
}

.post footer {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.post footer .comments a {
    font-weight: 600;
}

.post footer .comments, .post footer .share {
    width: auto;
    display: block;
    float: right;
    text-align: left;
}

.post footer .comments {
    position: relative;
    width: auto;
    text-align: right;
    float: right;
    margin-top: 10px;
    margin-bottom: 5px;
}

.post footer .comments i {
    font-size: 16px;
    margin-right: 5px;
}

.comment-form form .half {
    width: 48%;
    float: left;
}

.comment-form form .half-right {
    float: right;
}

.post footer .share i {
    font-size: 12px;
    letter-spacing: .25em;
}

.post .next-prev-nav {
    font-family: 'proxima-nova', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.post .next-prev-nav .next, .post .next-prev-nav .prev {
    line-height: 35px;
    border: 1px solid #CA3425;
    padding: 0 15px;
}

.next-prev-nav .prev:hover, .next-prev-nav .next:hover {
    background: #CA3425;
    color: black;
    border: 1px solid #CA3425;
}

.post .next-prev-nav .next {
    float: right;
}

.post .next-prev-nav .prev {
    float: left;
}

.next-prev-nav .prev a, .next-prev-nav .next a {
    font-size: 12px;
    font-weight: 400;
    color: black;
    transition: .2s;
    -webkit-transition: .2s;
}

.post .next-prev-nav .next img {
    float: right;
    margin-left: 3px;
}

.post .more-link, #respond input[type="submit"], .post form input[type="submit"] {
    text-align: center;
    border: none;
    font-size: 12px;
    color: white;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: normal;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    background-color: transparent;
    letter-spacing: .1em;
    background-color: black;
    border: 1px solid black;
}

#respond input[type="submit"], .post form input[type="submit"] {
    height: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 3px;
}

#respond textarea {
    height: 100px;
}

.post .more-link {
    margin: 32px auto 0;
    width: 116px;
    display: block;
}

.post .more-link:hover, #respond input[type="submit"]:hover, .post form input[type="submit"]:hover, .button:hover {
    text-decoration: none;
    background-color: transparent;
    color: black;
}

.search-query {
    color: #000;
}

.wp-caption {
    width: auto !important;
}

.wp-caption.alignleft, .wp-caption.alignleft .wp-caption-text {
    text-align: left;
}

.wp-caption.alignright, .wp-caption.alignright .wp-caption-text {
    text-align: right;
    clear: right;
}

.wp-caption.alignright img {
    float: right;
}

.wp-caption.aligncenter {
    text-align: center;
}

.wp-caption.aligncenter img {
    margin: auto;
}

/***** REWARDSTYLE BAR ****/

.rewardstyle-bar {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.rewardstyle-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'futura', sans-serif;
}

.shopthepost-widget .stp-outer {
    max-width: 100% !important;
}

.shopthepost-widget .stp-outer .stp-inner .stp-product {
    width: 135px !important;
}

/**** NEWSLETTER MODAL ****/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    z-index: 150;
    display: none;
    cursor: pointer;
}

.modal-box {
    width: 50%;
    position: absolute;
    top: 50%;
    margin: auto;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #CA3425;
    padding: 5px;
    cursor: auto;
}

.modal-inner {
    background: white;
    width: 100%;
    padding: 20px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    overflow: auto;
}

.modal-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #90D687;
    color: #fff;
    font-size: 38px;
    padding: 20px 38px;
}

#newsletter-footer {
    width: 100%;
    padding: 0;
}

#newsletter-close {
    display: block;
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 14px;
    color: #fff;
    z-index: 10;
}

#newsletter-footer .single-input-form {
    padding: 20px;
}

#newsletter-footer .single-input-form input[type="text"] {
    width: 75%;
}

#newsletter-footer .single-input-form input[type="submit"] {
    width: 25%;
}

#newsletter-footer div form div div input {
    background: #DDD;
}

#newsletter-footer div form div div #mce-LNAME {
    width: 49.5%;
    float: right;
}

#newsletter-footer div form div div #mce-FNAME {
    width: 49.5%;
    float: left;
    margin-bottom: 6px;
}

.newsletter-logo {
    width: 240px;
    margin-top: 10px;
}

.social-newsletter {
    display: inline-block;
    float: left;
    margin-left: 5px;
}

.social-title {
    float: left;
    display: inline-block;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 12px;
}

.social-newsletter a i {
    margin: 0 6px;
}

.newsletter-social-wrapper {
    width: 100%;
    text-align: center;
    align-items: center;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    justify-content: center;
}

.post .more-link, #respond input[type="submit"], .post form input[type="submit"], .post-body .button:hover, #mc_embed_signup input, span.page-numbers.current, .modal-inner h1, .modal-box {
    margin-bottom: 10px;
}

/***** FOOTER SCROLL ******/

.scrollToTop{
    display: inline-block;
    padding: 12px;
    text-align:center;
    color: #444;
    text-decoration: none;
    margin-right: 15px;
}

.scrollToTop:hover{
    text-decoration:none;
}

.scrollToTop:hover:after {
    color: #CA3425;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.scrollToTop:after {
    content: "\f106";
    font-family: "FontAwesome";
    position: absolute;
    color: black;
    margin-left: 7px;
    margin-top: 0px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

/****** SOCIAL SHARE BUTTONS *******/
.post footer .comments, .post footer .comments a, .post footer .date, .post footer .share {
    color: #333;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 100;
}

.post footer .date {
    display: inline-block;
    margin-top: 9px;
}

.share a {
    margin: 0 5px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.share a i {
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.share a:hover {
    cursor: pointer;
}

.share a:hover i {
    color: #CA3425;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.share p {
    display: inline;
    padding-right: 2px;
    font-size: 11px;
}

.share a span span span span span {
    top: -1px;
}

.apsc-facebook-icon, .apsc-twitter-icon, .apsc-youtube-icon, .apsc-instagram-icon {
    background: none !important;
    box-shadow: none !important;
}

.apsc-each-profile a {
    color: black !important;
    float: left;
}

.follow-btn-button {
    display: none !important;
}

.follow-btn form .follow-btn-counter {
    border: none !important;
    width: inherit !important;
    height: inherit !important;
    font-weight: 300 !important;
    font-size: 12px !important;
    position: relative !important;
    line-height: 31px !important;
}

/***** LOOKBOOK *****/

.category-title {
    padding: 20px;
    margin-top: 0 !important;
}

#page-title {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-style: normal;
    padding-top: 0;
}

.category-description {
    padding: 0 20px;
    text-align: center;
}

.date-author {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

.date-author a {
    color: black;
}

.date-author a:hover {
    color: #CA3425;
}

.timespan p {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
}

.single header .time-span .timespan, .single header .time-span i {
    float: left;
}

.time-span {
    text-transform: uppercase;
    text-align: center;
}

.time-span i {
    margin-top: 4px;
    margin-right: 8px;
}

#lookbook-nav {
    margin-bottom: 50px;
}

#lookbook-nav a {
    font-weight: 300;
}

#lookbook-nav ul {
    text-align: center;
    padding: 0;
    list-style: none;
}

#lookbook-nav ul li {
    display: inline;
    font-family: 'proxima-nova', sans-serif !important;
}

#lookbook-nav ul li:after {
    content: "|";
    margin-right: 5px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 300;
}

#lookbook-nav ul li:last-of-type:after {
    content: "";
    margin: 0;
}

.lookbook .pagination-links, .home .pagination-links {
    margin: 20px 0 70px 0;
}

.pagination-links a {
    background: #CA3425;
    padding: 8px;
    color: white;
}

.pagination-links a:hover {
    border-color: #CA3425;
}

/* ------PAGINATION IMAGE -----*/
.pagination-links-single {
    text-align: center;
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    width: 300px;
    overflow: hidden;
    height: 110px;
}

.pagination-image {
    width: 50%;
    float: right;
    overflow: hidden;
    height: 110px;
}

.pagination-next .pagination-image {
    float: left;
}

.pagination-image img {
    width: auto;
    height: 100%;
}

.featured-video-plus {
    width: 100%;
    height: 100% !important;
}

.html5-video-player, .player .video-wrapper {
    background: white !important;
}

.pagination-text {
    width: 50%;
    float: left;
}

.pagination-prev .pagination-image img, .pagination-prev .pagination-image .featured-video-plus {
    float: right;
}

.pagination-prev .pagination-text .pagination-subtitle, .pagination-prev .pagination-text .pagination-title {
    text-align: right;
}

.featured-video-plus .fluid-width-video-wrapper {
    height: 100% !important;
}

.pagination-subtitle {
    text-transform: uppercase;
    text-align: left;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .5px;
}

.pagination-title {
    color: black;
    text-transform: uppercase;
    text-align: left;
    padding: 5px 10px 10px 10px;
}

.pagination-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.content-featured-video .featured-video-plus, .content-featured-video .featured-video-plus iframe {
    height: 400px !important;
}

.content-column p {
    text-align: justify;
}

/* -------CONTRIBUTION -----*/
.contributors-column {
    float: left;
    height: 360px;
    width: 25%;
    padding-right: 20px;
}

.contributors-column .contributors {
    margin-bottom: 20px;
}

.contributors-column h4 {
    color: #CA3425;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 10px 0;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.contributors-column div .subtitle {
    color: #BBB;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
}

.contributors-column div p {
    margin: 0;
}

.share-column a {
    width: 100%;
    display: block;
    margin: 10px 0;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.share-column a .share-text {
    float: right;
    color: black;
    text-transform: uppercase;
    padding-right: 18px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.share-text:after {
    content: "\f105";
    font-family: "FontAwesome";
    position: absolute;
    color: white;
    margin-left: 7px;
    margin-top: -1px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.share-column a:hover i, .share-column a:hover .share-text, .share-column a:hover .share-text:after {
    color: #CA3425;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

/*--------CATEGORY LOOP -------*/

.category-loop-image {
    height: 200px;
}

.category-loop .loop-text header .date-author {
    margin-bottom: 5px;
}

.the-content {
    padding-top: 10px;
}

.the-content img {
    width: 100%;
}

.lookbook-post {
    display: block;
    float: left;
    position: relative;
    width: 19%;
    overflow: hidden;
    padding: 3px;
}

.lookbook-post img {
    width: 100%;
    height: auto;
}

.lookbook-post header {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: #fff !important;
    margin: auto;
    -webkit-transition: opacity .5s;
    transition: opacity 0.5s;
}

.related-article.lookbook-post header {
    top: 0;
}

.lookbook-post header .location-category {
    font-family: 'proxima-nova', sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    display: block;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
}

.lookbook-post header .location-category i {
    color: white;
}

.lookbook-post header a {
    color: white;
}

.lookbook-post header h1, .lookbook-post header h2 {
    font-weight: 300;
}

.lookbook-post header h1 {
    margin: 70px 10px 0 10px;
    font-size: 20px;
    line-height: 22px;
    color: white;
}

.lookbook-post header h2 {
    font-size: 14px;
}

.lookbook-post:hover header {
    opacity: 1;
    background-color: rgba(0, 0, 0, .6);
}

/**** READ LATER *****/
.gema75_read_it_later_text, .removeFromRILButton {
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-size: 11px;
    padding: 1px 5px 5px 17px;
    text-transform: uppercase;
}

.single-post .gema75_read_it_later_text, .single-post .removeFromRILButton {
  position: absolute;
  top: -11px;
  right: 0;
  background-position: 0px 3px;
  font-size: 12px;
}

.slide-out-div {
  display: none;
}

.removeFromRILButton {
    padding: 0px 0 0 17px !important;
    background-position: 0 3px;
    font-size: 12px;
    margin-bottom: 30px;
}

.gema75_read_it_later_text.addToReadItLaterButton:hover, a.removeFromRILButton {
    color: black;
}

.page-id-72 #content .single-page-container .row #main-content article .post-body div div {
    padding: 0 !important;
    padding-right: 10px !important;
}

.page-id-72 #content .single-page-container .row #main-content article .post-body div div p {
    margin: 0px 0 3px 0;
}

.page-id-72 #content .single-page-container .row #main-content article .post-body div p a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}

.page-id-72 #content .single-page-container .row #main-content article .post-body img {
    margin: 0;
}

/*.page-id-72 #content .single-page-container .row #main-content .post-body div {
    border-bottom: 1px solid black;
    margin-bottom: 12px;
}*/

.slide-out-div a.handle {
    top: -45px !important;
    margin-right: 20px !important;
    padding: 15px 27px 15px 15px !important;
}

a.gema75_removeAllFromRILButton {
    color: black !important;
}

.gema75_ril_owl_next, .gema75_ril_owl_prev {
    border: 1px solid black !important;
    color: white !important;
    background: black !important;
}

.slide-out-div .handle span:after {
    content: "\f106";
    font-family: "FontAwesome";
    position: absolute;
    color: white;
    margin-left: 7px;
    margin-top: -1px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

ul#gema75_ril_social_icons {
    display: none;
}

body div.slide-out-div, body div.slide-out-div.open {
    background-color: white !important;
    border-color: black !important;
    width: 100% !important;
    margin: 0 !important;
}

.owl-item .removeFromRILButton {
    background-position: 0 0px;
    padding: 3px 0 8px 17px !important;
}

.owl-item p a {
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
}

.owl-item {
    width: 70% !important;
}

div.gema75_ril_image img {
    width: auto !important;

    height: 150px !important;

}

/***** Related Posts (yarpp-related) *****/

.post .yarpp-related {
    text-align: center;
    margin: 30px 0 !important;
    display: inline-block;
    width: 100%;
}

.post .yarpp-related h3 {
    display: none;
}

.related-title {
    text-align: center;
    border-top: 1px solid black;
    margin-bottom: 10px;
    padding-top: 15px;
    margin-top: 50px;
}

.yarpp-related h2 {
    font-size: 12px;
    margin: 0;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

.related-image:hover {
    opacity: .6;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.related-article{
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.related-posts-wrapper {
    width: 100%;
    display: block;
    float: left;
}

.related-title h2 {
    letter-spacing: 1px;
    font-size: 16px;
    color: #CD321B;
}

.yarpp-thumbnails-horizontal {
    text-align: left;
}

.post .yarpp-thumbnail > img {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.post .yarpp-thumbnails-horizontal .yarpp-thumbnail {
    border: none;
    height: auto;
    width: 24.5%;
    margin: 0;
    padding: 10px;
}

.post .yarpp-thumbnails-horizontal .yarpp-thumbnail-title {
    display: none;
}

.yarpp-related .location-category:hover, .yarpp-related .location-category:hover i {
    color: #CA3425 !important;
    transition: .2s;
}

.yarpp-related a {
    font-weight: 100 !important;
}

.yarpp-related .related-article {
    width: 33%;
    float: left;
}

.featured-background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
}

.related-image {
    overflow: hidden;
    width: 100%;
    height: 200px;
}

.related-article p {
    display: none;
    color: black;
    font-family: 'proxima-nova', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

.related-article h1 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.related-posts:hover p {
    color: #CA3425;
}

.related-image img {
    width: 100%;
    height: auto;
}

/***** PAGINATION *****/
.pagination-links {
    text-align: center;
}

.page-numbers {
    padding: 5px 10px 4px 10px;
    font-family: 'proxima-nova', sans-serif;
    border: 1px solid black;
}

span.page-numbers.current {
    background: black;
    color: white;
}

a.page-numbers:hover {
    border: 1px solid #CA3425;
}

h2.screen-reader-text {
    display: none;
}

.sidebar-yarpp .related-image {
    width: 40%;
    float: left;
    height: 110px;
}

/****** Sidebar *****/

#sidebar {
    width: 33.333%;
    float: right;
    padding-left: 20px;
}

#sidebar .widget {
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 0px 0 10px 0;
    overflow: auto;
}

#sidebar .ad, #sidebar .instagram {
    padding: 0;
    border: none;
}

#sidebar .instagram .clear a {
    top: -72px;
    position: relative;
    background: rgba(255,255,255,.8);
    padding: 20px;
    width: 100%;
    display: block;
    text-align: center;
    font-family: 'proxima-nova', sans-serif;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

#sidebar .instagram .clear a:hover {
    color: black;
    background: rgba(217,230,245,.8);
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.instagram .clear {
    height: 0;
}

#sidebar .widget.social {
    text-align: center;
    background: transparent;
}

#sidebar .widget.social ul {
    list-style-type: none;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

#sidebar .widget.social li {
    float: left;
    margin: 0px 5px;
}

#sidebar .widget.social a {
    font-size: 12px;
}

#sidebar .widget.social a:hover, #sidebar .widget.social a:hover i {
    text-decoration: none;
    color: #CA3425;
}

#sidebar .widget.social .widget-header {
    margin-bottom: 10px;
}

#sidebar .widget.social i {
    display: block;
    font-size: 13px;
}

.social-subscription {
    padding: 0;
    margin: 10px 15px 0 15px;
    border-top: 1px solid black;
}

#mc_embed_signup input {
    background-color: #EEE;
    border: none;
    width: 80%;
    float: left;
    height: 30px;
}

#sidebar .widget-header {
    color: white;
    background: black;
    font-family: 'proxima-nova', sans-serif;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 100;
    padding: 8px;
    letter-spacing: .1em;
}

#sidebar img {
    display: block;
    width: 100% /9;
    max-width: 100%;
    height: auto;
    margin: auto;
}

#sidebar .widget-body.center {
    text-align: center;
}

#sidebar .widget-body.center img {
    margin: auto;
}

#sidebar .widget.archives {
    border: none;
    text-align: center;
    padding-bottom: 14px;
}

#sidebar .widget.archives .widget-header {
    display: none;
}

#sidebar .widget.archives select {
    width: 100%;
    border: 1px solid #CA3425;
    background-color: transparent;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 7px 10px;
    background-image: url('../img/down-arrow.png');
    background-position: right 10px center;
    background-repeat: no-repeat;
    color: black;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 100;
}

#sidebar .red-box {
    border: none;
    padding: 24px 0px;
    width: 100%;
    text-align: center;
}

#sidebar .red-box div a {
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid #CA3425;
    padding: 20px;
    text-align: center;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    width: 100%;
}

#sidebar .red-box a:hover {
    color: white;
}

label.screen-reader-text {
    display: none;
}

select#cat {
    width: 100%;
    background: #f2f2f2;
    color: black;
    border: none;
    border-radius: 0 !important;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'proxima-nova', sans-serif;
    margin-top: 10px;
    font-size: 12px;
}

/***** INSTAGRAM WIDGET ******/
.instagram-pics {
    list-style: none;
    position: relative;
    padding-left: 0;
    margin: 0;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    min-height: 0 !important;
}

.instagram-pics li {
/*    top: 50% !important;*/
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    position: absolute;
}

.instagram-pics li:last-child {
    position: static;
}

.instagram-pics li img {
    width: 100%;
    height: auto;
    -moz-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    transform: translateY(50%);*/
}

/****** COMMENTS ******/
.commentlist {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

.commentlist li {
    margin-left: 0;
}

.commentlist .children {
    list-style: none;
}

.commentlist > .comment:first-of-type {
    border: none;
}

.children {
    border-top: 1px solid black;
    padding-top: 15px;
    margin-top: 10px;
}

.comment-body {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.comment-author .avatar {
    float: left;
    margin-right: 15px;
    border-radius: 100%;
    display: none;
}

.comment-author-admin .comment-body .comment-author .avatar {
    display: block;
}

.comment-author cite {
    font-style: normal;
    font-weight: 500;
}

.comment-meta {
    text-align: right;
    margin-top: -20px;
}

.comment-meta, .comment-author, .comment-author a, .comment-meta a {
    font-size: 12px;
    font-family: 'proxima-nova', sans-serif;
    color: black;
}

.comment-author {
    font-weight: 100;
}

/*.comment-body p, .comment-body .reply {
    margin-left: 65px;
}*/

.reply a {
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    color: black;
}

#respond {
    text-align: right;
}

#respond + * {
    clear: both;
}

#respond label.show-comment-button {
    margin-top: 0;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 0;
    position: relative;
    background: none;
    color: black;
    margin-bottom: 30px;
    display: inline-block;
    font-weight: 100;
}

.single-post #respond label.show-comment-button {
    display: none;
}

.show-comment {
    display: none;
}

.show-comment ~ .comment-form {
    display: none;
}

.show-comment:checked ~ .comment-form, .single-post .show-comment ~ .comment-form {
    display: block;
}

.comment-form {
    text-align: left;
    border: 1px solid #000;
    padding: 20px;
    width: 100%;
    float: left;
}

.comment-form h3 {
    font-weight: 100;
    text-align: center;
    margin-top: 5px;
}

.show-comment:checked + label.show-comment-button {
    display: none;
}

#respond label, .post form label {
    margin-left: 5px;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    font-family: 'proxima-nova', sans-serif;
    text-transform: uppercase;
}

#respond input, #respond textarea,  .post form textarea {
    width: 100%;
    padding: 10px;
    height: 40px;
}

/*** CONTACT FORM 7 ***/

.terms-link {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.wpcf7-list-item-label {
    padding-left: 4px;
    padding-right: 15px;
}

.wpcf7 form p.two-col {
    padding: 0 5px 0 0;
}

.wpcf7-list-item {
    width: 20%;
    float: left;
}

.wpcf7-radio .wpcf7-list-item {
    width: 33.33333%;
    margin: 0;
    padding: 0 5px;
}

.wpcf7 form p.col-sm-12 {
    padding: 0;
}

.wpcf7 form p.col-sm-12 span input, .wpcf7 form p.col-sm-6 span input, .terms-conditions span .wpcf7-list-item {
    width: 100%;
}

.wpcf7-checkbox span input, .wpcf7-radio span input {
    width: auto !important;
}



/***** INSTAGRAM FOOTER *****/
#instagram-footer {
    margin-top: 8px;
}
#instagram-footer h2 {
    text-align: center;
    font-family: 'proxima-nova', sans-serif;
    letter-spacing: .1em;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 16px;
}

#sb_instagram #sbi_load {
    padding-top: 0 !important;
}

#sb_instagram {
    background-color: black;
}

#sb_instagram img {
    width: 100%;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

#sb_instagram img:hover {
    opacity: 0.7 !important;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

/***** FOOTER *****/
#before-footer {
    margin-top: 30px;
}

#before-footer .widget .textwidget {
    background-color: transparent;
    text-align: center;
}

footer#main-footer {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 100;
}

footer#main-footer a:hover, footer#main-footer a:hover i {
    color: #CA3425;
}

.page-divider-image {
    margin: 0 auto;
    display: block;
    margin-top: -39px;
    height: 35px;
}

.page-divider {
    padding-top: 30px;
}

#footer-menu li {
   display: inline-block;
   padding: 0 10px;
}

#footer-menu li a {
    color: black;
}

#main-footer .row .left-align {
    padding-left: 10px;
    float: left;
}

#main-footer .row .right-align {
    padding-right: 10px;
    display: inline-block;
    text-align: right;
    float: right;
}

ul#footer-menu {
    list-style: none;
    display: block;
    padding-left: 10px;
    line-height: 24px;
}

.footer-logo {
    width: 150px;
    float: left;
    position: absolute;
}

.footer-menu {
    width: 100%;
    text-align: center;
    height: 40px;
    position: relative;
    clear: both;
    margin: 0 auto;
}

#main-footer div p {
    text-align: center;
    float: left;
    width: 100%;
    margin: 0;
}

#social-footer-wrapper {
    width: 100%;
    display: block;
    text-align: center;
    margin: 20px 0 10px 0;
}

#social-footer-wrapper a {
    margin: 0 15px;
}

#social-footer-wrapper a:hover i {
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

/***** SHOP *****/

.grid {
  margin-left: -20px;
}

.shop-item {
  width: 33%;
  display: inline-block;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.shop-item img {
  margin: auto;
}

/***** PINTEREST SIDEBAR *****/


.widget .pw-widget > span:first-of-type {
    box-shadow: none !important;
}
.widget .pw-widget > span:first-of-type > span:first-of-type {
    display: none !important;
}

/***** EASY SOCIAL ICONS *****/
.widget table.cnss-social-icon {
    margin: 0 auto 10px !important;
}

/**** SHOPSENSE WIDGET ****/

.shopsense-widget {
    margin-left: -20px;
}

/**** FAVORITES WIDGET ****/
.favorites-widget {
    border: 1px solid #000;
    padding: 0 20px;
}

#sidebar .favorites-widget img {
    margin-top: 20px;
    margin-bottom: 20px;
}

/***** INSTAGRAM WIDGET ******/
.instagram-pics {
    list-style: none;
    position: relative;
    padding-left: 0;
    margin: 0;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    min-height: 0 !important;
}

.instagram-pics li {
/*    top: 50% !important;*/
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    position: absolute;
}

.instagram-pics li:last-child {
    position: static;
}

.instagram-pics li img {
    width: 100%;
    height: auto;
    -moz-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    transform: translateY(50%);*/
}

/***** PRESS ******/
.press-col-1, .press-col-2 {
    width: 49%;
    float: left;
}

.press-col-2 {
    float: right;
}

.youtube-wrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    overflow: hidden;
}

.youtube {
    width: 80%;
    margin: 0 auto;
}
