@media (min-width: 990px) {
    .page-container, .page-page-container {
        width: 80%;
    }
}

@media (max-width: 990px) {
    .category-loop {
        width: 50%;
    }
    .post .share {
        bottom: 0;
    }
    .post .comments {
        bottom: 0;
    }
    .post .categories {
        display: block;
    }
    #social-icon-wrapper {
        margin-left: 0;
        width: 260px;
        margin-right: 0;
    }
    .explore-box div a .explore-text {
        margin-top: -85px;
        font-size: 16px;
    }
    .category-image .background-image {
        height: 220px;
    }
}

@media (min-width: 851px) {
    #header.large #header-logo {
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .mobile-image {
        display: none;
    }
    .search-results #content .category-container .row #main-content {
        padding-top: 20px;
    }
    .explore-box div a .explore-text {
        margin-top: -95px;
    }
}

/*** RESPONSIVE NAV ***/
@media (max-width: 850px) {
    .search #content {
        margin-top: 120px;
    }
    .single header .time-span {
        float: left;
        margin-top: 19px;
    }
    .home.paged-2 #content {
        margin-top: 150px;
    }
    #nav-icon {
        display: block;
    }
    .post footer {
        position: relative;
    }
    #main-content.col-sm-8 {
        width: 100%;
    }
    .category-image .background-image {
        height: 150px;
        margin: 0;
    }
    .category-container {
        width: 100%;
    }
    .picture-category-title {
        font-size: 18px;
        padding-top: 65px;
    }
    .background-category-wrapper {
        margin: 100px 12%;
        padding-bottom: 20px;
    }
    .home #content .page-container .row #main-content .rewardstyle-bar {
        padding-top: 20px;
        border-top: 1px solid black;
    }
    #header.large #social-wrapper .fancy-input .fancy-input-inner:before {
        margin-left: -43px;
    }
    #header .fancy-input.search {
        float: right;
        margin-left: 12px;
    }
    .post footer {
        padding-top: 0;
    }
    .loop-post {
        margin-bottom: 30px;
    }
    .loop-post .col-sm-5 .loop-image-wrapper {
        display: none;
    }
    .loop-image {
        height: 340px;
    }
    .loop-text {
        padding-left: 10px;
        height: auto;
    }
    .page-container {
        width: 90%;
        margin-top: 90px;
    }
    .post header .categories {
        margin-top: 15px;
    }
    .post header {
        margin-bottom: 30px;
    }
    .mobile-image {
        height: 450px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .loop-text .post-body {
        margin: 0;
    }
    #header.large #social-wrapper {
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }
    html #wpadminbar {
        display: none;
    }
    #slideshow + #content {
        margin-top: 20px;
    }
    #header.large {
        height: 140px;
    }
    .admin-bar #header {
        top: 0;
    }
    #sidebar {
        width: 100%;
        max-width: 400px;
        float: none;
        margin: 0 auto;
        padding: 20px;
    }
    #content {
        margin-top: 20px;
        padding: 20px;
    }
    .lookbook .lookbook-post {
        width: 31%;
        height: 250px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .lookbook-post {
        height: 250px;
    }
    .related-image {
        height: 250px;
    }
    .single-post #content {
        margin-top: 110px;
    }
    .category #content, .archive #content {
        margin-top: 130px;
    }
    .single-page-container {
        width: 95%;
    }
    #main-footer div p {
        padding: 12px 10px 10px 10px;
    }
    .press-col-1, .press-col-2 {
        width: 100%;
        float: left !important;
        margin: 0 auto;
    }
    .category-title {
        margin-bottom: 20px !important;
    }
    #header-logo {
        display: none !important;
    }
    #header.large #logo-wrapper .small-logo #header-logo-small {
        display: block !important;
        height: 40px;
        position: relative;
        margin: 0 auto;
        left: 0;
        right: 0;
        margin-top: 20px;
    }
    #nav-wrapper {
        text-align: center;
    }
    #header.large #nav-icon {
        display: inline-block;
        z-index: 2;
        color: white;
    }
    #menu-hide.mobile-hide {
        display: none;
    }
    #main-menu-container {
        background-color: rgba(0,0,0,.7);
        position: fixed;
        top: 40px;
        left: 0;
        width: 100%;
        z-index: 100;
        border-bottom: 1px solid black;
    }
    .large #nav-wrapper #main-menu-container {
        top: 140px;
    }
    #main-menu {
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 1;
    }
    #main-menu > li {
        display: block;
        width: 100%;
        padding: 0;
        margin-left: 0;
        line-height: 40px;
    }
    #main-menu .sub-menu {
        display: block;
        border-radius: 0;
        position: static;
        -webkit-transform: none;
        transform: none;
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        box-shadow:         none;
        background-color: transparent;
        padding: 0;
    }
    .fancy-input input[type="email"] {
        font-size: 16px;
    }
    #main-menu .sub-menu.mobile-open {
        display: block !important;
    }
    .footer-logo {
        display: none;
    }
    .post header .date {
        margin-top: 0;
        float: none;
        display: block;
    }
    .post header h1 a, .post header h1, #page-title {
        font-size: 18px;
        line-height: 21px;
        float: none;
        display: block;
    }
    #sb_instagram.sbi_col_10 #sbi_images .sbi_item {
        width: 25% !important;
    }
    .lookbook-post header {
        top: 0;
        display: block;
        background-color: rgba(0, 0, 0, .6);
    }
    .below-header-wrapper {
        width: 100%;
    }
    .post footer .comments {
        position: relative;
        text-align: center;
        width: 100%;
    }
    #comments {
        float: none;
    }
    #respond {
        text-align: center;
    }
    #location-list {
        width: 100%;
    }
    .youtube {
        width: 100%;
    }
    #header-logo-small {
        z-index: 105;
    }
    .loop-image-wrapper {
        padding: 0;
    }
}

@media (max-width: 768) {
    .post footer .comments, .post footer .share {
        text-align: center;
        width: 100%;
    }
    .loop-text, .loop-image-wrapper {
        height: auto;
    }
    .contributors-column {
        width: 25% !important;
    }
    .modal-box {
        width: 80%;
    }
}


@media (max-width: 600px) {
    #main-menu-container {
        top: 80px;
    }
    .page-page-container {
        margin-top: 340px;
    }
    .contributors-column {
        width: 45%;
    }
    .slideshow-title-wrapper {
        margin-top: 135px;
    }
    .slideshow-title {
        font-size: 28px;
        line-height: 29px;
    }
    #slideshow .previous, #slideshow .next {
        display: none;
    }
    .category-grid-wrapper {
        overflow: auto;
        margin-bottom: 40px;
    }
    .category-wrapper {
        width: 50%;
        margin-bottom: 0;
    }
    .category-loop {
        width: 100%;
    }
    .background-category-wrapper {
        width: 80%;
        margin: 30px 6%;
        padding: 0 0 20px 0;
    }
    p iframe {
        overflow: hidden;
        width: 100%;
    }
    .youtube iframe {
        width: 100%;
        height: 200px;
    }
    .scrollToTop {
        width: 100%;
    }
    .footer-menu {
        width: 100%;
    }
    #header-logo-small {
        left: 10px;
    }
    #header .fancy-input.search {
        margin-left: 32px;
    }
    #nav-icon {
        position: initial;
    }
    #header.large #nav-icon {
        float: none;
    }
    #social-wrapper {
        position: relative;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        justify-content: center;
        width: 100%;
        left: 0;
    }
    #header #social-wrapper a i {
        margin-right: 14px;
    }
    .mapcontainer .map {
        width: 95%;
    }
    .lookbook .lookbook-post {
        width: 47%;
    }
    .admin-bar #header {
        top: 0px;
    }
    #header {
        height: 80px;
    }
    .share p {
        display: none;
    }
    .yarpp-related .related-article {
        width: 48%;
    }
    .author-box .author-image {
        width: 50%;
        margin: 0 auto;
        display: block;
        float: none;
        margin-bottom: 10px;
    }
    .author-box .author-text {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    .author-box {
        padding-top: 10px;
    }
    .featured-adventurers .author-image {
        width: 100%;
        height: 250px;
    }
    .featured-adventurers .author-text {
        width: 100%;
        text-align: center;
        padding-bottom: 0;
    }
    .featured-adventurers .author-text {
        width: 100%;
        text-align: center;
        padding-bottom: 0;
    } 
    .content-featured-video .featured-video-plus iframe, .content-featured-video .featured-video-plus {
        height: 250px !important;
    }
    .content-column p {
        text-align: left;
    }
    .page-id-12 #content .page-container .row #main-content article .post-body p img {
        width: 100%;
        margin: 0;
    }
    .category-videos #content .category-container .row #main-content article {
        width: 100%;
    }
    .page-id-392 #content .page-container .row #main-content article .post-body div div {
        width: 100% !important;
        padding: 0 !important;
    }
    .page-id-392 #content .page-container .row #main-content article .post-body div div a .featured-video-plus {
        height: 250px !important;
    }
}

@media (max-width:1120px) {
    .loop-post header h1 {
        font-size: 16px;
    }
}