.sub-nav {
    visibility: hidden;
    position: absolute;
    top: 39px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 30;
    width: 100%;
    background: #fff;
    border: 1px solid #c7c7c7;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.25);
    height: auto;
}

#box-1 li{
 list-style-type: none;
 left-align: 20px;
 padding-right: 20px ;
}

.sub-categories > li{
  font-size: 20px;  
}

#box-2 img {
  width: 50%;
  right: 0;
  left: 0;
  margin: auto;
  height: auto;
}


.dropdown-post {
  border-bottom: 1px solid black;
}

.box {
  height: 467px;
  background: #fff;
  border: 1px solid #c7c7c7;
  float: left;

}
.dropdown-post{
  position:relative;
  height:150px;
}
.loop-image-wrapper-for-dropdown{
  position:absolute;
  top:0;
  right:0;
  width:200px;
}
.dropdown-post-body{
  position:absolute;
  top:0;
  left:0;
  width:200px;
}

#box-1 {
  width: 25%;
}
#box-2 {
  width: 35%;
}
#box-3 {
  width: 40%;
}
